<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CryptoWCFService.CryptoService">
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="EncryptionServicesBinding"
                  contract="CryptoWCFService.ICryptoService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.12/CryptoWCFService/CryptoService.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="CryptoWCFService.FileTransferServiceBehavior"
               name="CryptoWCFService.CloudService">
        <clear/>
        <endpoint address="" binding="basicHttpBinding"
                  bindingConfiguration="FileTransferServicesBinding"
                  contract="CryptoWCFService.ICloudService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.12/CryptoWCFService/CloudService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="CryptoWCFService.FileTransferServiceBehavior">
          <serviceMetadata httpGetEnabled ="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="EncryptionServicesBinding"
                 maxReceivedMessageSize="20000000" />
        <binding name="FileTransferServicesBinding"
                 transferMode ="Streamed"
                 messageEncoding="Mtom"
                 sendTimeout="01:05:00"
                 maxReceivedMessageSize="10067108864"/>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
